TEI {
    --aqua-blue: #3daee9;
    --dark-blue: #002744;
    
    --sub-blue: #003967;
    --sub-blue-light: #aeb7c6;
    --sub-blue-background: rgba(26, 55, 113, 0.080);
    --sub-blue-bright: rgb(0, 104, 202);
    --sub-blue-bright-background: rgba(0, 104, 202, 0.200);
    --sub-black: #333133;
    --sub-gray: #b3b5b8;

    --light-gray-background: rgb(226, 226, 226);

    --foot-note-color: rgb(0, 104, 202);
    --foot-note-background: rgba(190, 222, 233, 0.281);;
    
    --end-note-color: rgb(111, 0, 202);
    --end-note-background: rgba(161, 133, 184, 0.281);

    --marginalia-color: rgb(55, 119, 98);
    --marginalia-background: rgba(55, 119, 98, 0.205);

    --entity-color-place: rgb(255, 215, 169);
    --entity-color-person: rgba(190, 219, 255, 0.712);

    --critical-app-lem-color: rgb(1, 150, 100);
    --critical-app-rdg-color: rgb(255, 123, 0);

    --editors-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sub-font-family: 'unicode-optima', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}