@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*#########################################################################################

CSS File to style the textcritical Apparatus!

#########################################################################################*/

/*-------------------------------------{ Apparatus }-------------------------------------*/
/*
- before(101): Leittextlesung, wenn es sich um Parallel-Segmentation handelt.
- before(100): Fußnotenzeichen für Apparat, alphabetisch nummeriert.
- before(90) : Apparatstyp, wenn vergeben. 
*/
:root{
    --lem-color: rgb(1, 150, 100);
    --rdg-color: rgb(255, 123, 0);
}

app {
    -oxy-display-tags: none;
}

/* Apps im parallel-segmentation Style */
app:has(lem):before(101) {
    display: inline;
    color: var(--lem-color);
}

app:has(lem):before(101) {
    content: oxy_xpath("child::*:lem/text()");
}

/* Computed Numbering um Peformance zu steigern! */
TEI:-computed-app-numbering app::before(100) {
    content: oxy_button( action,
        oxy_action(
          name, oxy_xpath("format-integer(count(preceding::*:app)+1, 'a')"), 
          description, 'Toggle Apparatus',
          operation, 'TogglePseudoClassOperation', 
          arg-elementLocation, '.',
          arg-name, '-show-app'
          
        )
        color, inherit,
        transparent, true,
        fontInherit, true
    );
}

app::before(100) {
    font-weight: 600;
    color: rgb(1, 150, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(211, 211, 211, 0.548);
    font-size: 12px !important;
}

app::before(100) {
    content: oxy_button( action,
        oxy_action(
          name, "app", 
          description, 'Toggle Apparatus',
          operation, 'TogglePseudoClassOperation', 
          arg-elementLocation, '.',
          arg-name, '-show-app'
        )
        color, inherit,
        transparent, true,
        fontInherit, true
    );
}

app::before(100),
app::before(99) {
    position: relative;
    top: -.6em;
    padding-top:-.1em;
}

app::before(90), 
app > * {
    display: none;
}

app::before(90) {
    content: "Critical Apparatus";
    margin-left: .5em;
    color: rgb(1, 150, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app {
    display: inline-block;
    padding: unset;
    background-color: unset;
    border: 0px solid black;
}

app > *:first-child {
    margin-top: .5em;
}

app > *:not(:last-child) {
    border-bottom: 1px solid rgb(1, 150, 100);
}

/*++++++++++++++++{ READINGS }++++++++++++++++*/

app rdg:before {
    content: "";
}

app > *[wit]:before(10) {
    content: "" oxy_xpath('string-join( for $wit in tokenize(@wit, " ") return substring-after($wit, "#"), ", ")') "";
    /* background: lightgray; */
    margin-right: 0.3em;
    padding: 0 3px;
    font-style: italic;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app > *[wit]:focus-within:before(10) {
    content:
        oxy_textfield(
            edit, "@wit",
            columns, 5,
            fontInherit, true
        ) " ";
}

lem:before(10),
rdg:before(10) {
    color: white;
}

lem:before(10) {
    background: rgb(1, 150, 100);
}

rdg:before(10) {
    background: var(--rdg-color);
}

lem:before(11) {
    color: rgb(1, 150, 100);
}

rdg:before(11) {
    color: var(--rdg-color);
}
app rdg:first-child:before(11),
app lem:first-child:before(11) {
    content: oxy_button(action, oxy_action(
            name, '\25BC', 
            description, 'Move the reading down one position', 
            operation, 'MoveElementOperation', 
            arg-targetLocation, 'following-sibling::element()[1]',
            arg-insertPosition, 'After'
    ),
    color, inherit,
    transparent, true,
    fontInherit, false,
    showIcon, false,
    visible, true);
}

app rdg:not(:first-child):before(11),
app lem:not(:first-child):before(11) {
    content: oxy_button(action, oxy_action(
            name, '\25B2', 
            description, 'Move the reading up one position', 
            operation, 'MoveElementOperation', 
            arg-targetLocation, 'preceding-sibling::element()[1]',
            arg-insertPosition, 'Before'
    ),
    color, inherit,
    transparent, true,
    fontInherit, false,
    showIcon, false,
    visible, true);
}


/*++++++++++++++++++++++++++++++++++ { VIEW-MODES: Show app } ++++++++++++++++++++++++++++++++++*/

app:-show-app {
    display: block;
    text-align: left;
    border-left: 3px solid rgb(1, 150, 100);
    background: rgba(64, 148, 120, 0.062);
    margin-bottom: 1em;
    padding: .5em 1em;
}

app:-show-app::before(90) {
    display: inline-block;
}

app[type]:-show-app::before(90) { 
    content: attr(type);
}

app:-show-app > * {
    display: block;
}


/*-------------------------------------{ Readings: MISC }-------------------------------------*/
app > * > desc {
    font-style: italic;
    -oxy-display-tags: none;
}

app > note:before,
app > note {
    display: none !important;
    -oxy-display-tags: none;
}

app > note {
    border: 0px solid white !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: unset !important;
    display: unset !important;
}

app:-show-app > note {
    display: block !important;
}

app > witDetail {

}
/*-------------------------------------{ Dark Magic: Encoding Changer }-------------------------------------*/

*[rendition="#variant-encoding-mode-changer"]:after(50) {
    content: oxy_button(action, oxy_action(
            name, 'parallel-segmentation', 
            description, 'Change variant encoding to prallel-segmentation', 
            operation, 'ChangeAttributeOperation', 
            arg-elementLocation, '//*:variantEncoding',
            arg-name, 'method',
            arg-value, 'parallel-segmentation',
            arg-removeIfEmpty, true
    ),
    color, inherit,
    transparent, false,
    fontInherit, false,
    showIcon, false,
    visible, true);
}


*[rendition="#variant-encoding-mode-changer"]:after(51) {
    content: oxy_button(action, oxy_action(
            name, 'location-referenced', 
            description, 'Change variant encoding to location-referenced', 
            operation, 'ChangeAttributeOperation', 
            arg-elementLocation, '//*:variantEncoding',
            arg-name, 'method',
            arg-value, 'location-referenced',
            arg-removeIfEmpty, true
    ),
    color, inherit,
    transparent, false,
    fontInherit, false,
    showIcon, false,
    visible, true);
}