@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*-------------------------------------{ Spoken Text }-------------------------------------*/

sp speaker {
    -oxy-display-tags: none;
    margin-left: -2em;
    margin-bottom: -0.5em;
    font-family: var(--editors-font-family);
}

sp > * {
    margin-top: 0;
}

sp > *:last-child {
    margin-bottom: var(--para-margin-bottom) !important;
}

/* sp speaker:after {
    content: ":";
    font-weight: 100;
} */

sp > stage:before {
    content: "(";
}

sp > stage:after {
    content: ")";
}