@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*-------------------------------------{ ADD }-------------------------------------*/
add::before { 
    content: "("; 
}

add::after { 
    content: ")"; 
}

/*-------------------------------------{ CHOICES }-------------------------------------*/

choice {
    -oxy-display-tags: none;
}

choice:focus-within {
    border-left: 1px dotted var(--sub-blue);
    border-right: 1px dotted var(--sub-blue);
}

choice:focus-within > *:first-child {
    border-top: 1px dotted var(--sub-blue);
    /* border-right: 1px solid var(--sub-blue); */
    padding-top: -1px;
    padding-bottom: -1px;
    margin-right: 5px;
}

choice:focus-within > *:last-child {
    border-bottom: 1px dotted var(--sub-blue);
}


/*-------------------------------------{ CHOICE: abbr, expan }-------------------------------------*/
abbr, 
expan {
    color: var(--sub-blue);
    font-style: italic;
}

choice > abbr, 
choice > expan {
    -oxy-display-tags: none;
}

choice > abbr {
    display: none;
}

choice:focus-within > abbr {
    display: unset;
}


/*-------------------------------------{ CHOICE: sic, corr }-------------------------------------*/
sic:after {
    content: "";
}

choice > sic,
choice > corr {
    -oxy-display-tags: none;
}

choice sic {
    text-decoration: line-through;
}


/*-------------------------------------{ CHOICE: orig, reg }-------------------------------------*/
choice > orig,
choice > reg {
    -oxy-display-tags: none;
}


choice > orig {
    display: none;
}

choice:focus-within > orig {
    display: unset;
}

choice > reg {
    font-style: normal;
    color: var(--sub-blue);
    text-decoration-line: underline;
}


/*-------------------------------------{ DAMAGE }-------------------------------------*/
damage {
    -oxy-display-tags: none;
}

damage::before,
damage::after {
    color: brown;
}

damage::before { content: "["; }
damage::after { content: "]"; }

damage[degree~="low"]::before {
    content: "⸢";
}

damage[degree~="low"]::after {
    content: "⸣";
}

damage[degree~="medium"]::before {
    content: "⌈";
}

damage[degree~="medium"]::after {
    content: "⌉";
}


/*-------------------------------------{ DEL }-------------------------------------*/
del::before { 
    content: "[["; 
}

del::after { 
    content: "]]"; 
}


/*-------------------------------------{ SUPPLIED }-------------------------------------*/
supplied::before { 
    content: "<"; 
}

supplied::after { 
    content: ">"; 
}


/*-------------------------------------{ SURPLUS }-------------------------------------*/
surplus::before { 
    content: "{"; 
}

surplus::after { 
    content: "}"; 
}