@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*#########################################################################################

CSS File to style the tei:facsimile section!

#########################################################################################*/

/*-----------------------------{ facsimile & surface }-----------------------------*/


facsimile, surface {
    display: block;
}



/*-----------------------------{ ZONE & Zone Parts }-----------------------------*/
zone, line {
    display: block;
}

zone:before(5) {
    display: none;
}

zone[xml|id]:before(3){
    font-weight:bold;
    content: oxy_textfield(
                tooltip, 'The xml:id of the zone',
                edit, '@xml:id',
                width, 20%)!important;
    display:inline-block;
    margin-left:0.2em;
    width:20%;
}

surface line::before(2) {
    margin-right: 20px;
    border-right: 1px solid var(--sub-blue);
    font-family: monospace;
    width: 3em;
    /* padding-right: 20px; */
    text-align: right;
}


surface line[n]::before(2) {
    content: oxy_xpath( "@n") " " ;
    color: gray;
}

surface line::before(2) {
    content: oxy_xpath( " count(preceding-sibling::*:line)+1 ") " " ;
    color: lightgray;
}

surface line:focus-within::before(2) {
    content:    
        oxy_textfield(
            edit, '@n',
            tooltip, 'The number of the line', 
            color, "black",
            fontInherit, true, 
            columns, 4, 
            hoverPseudoclassName, 'hi'
        );
}

surface line {
    display: block;
    line-height: 2em;
}

surface line * {
    line-height: 2em;
}

surface metamark,
surface part,
surface seg,
surface g {
    -oxy-display-tags: none;
}

surface part {
    background:rgba(194, 194, 194, 0.432);
}

surface seg {
    background: var(--sub-blue-background);
}

surface g {
    border-color: var(--sub-blue-bright-background);
    border-left:1px solid;
}

surface g:last-of-type {
    border-right:1px solid;
}

surface metamark[rend="-sub-line"] {
    display:block;
    border-bottom: 2px solid gray;
    content: "";
}