@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*-------------------------------------{ Graphics }-------------------------------------*/
graphic {
    -oxy-display-tags: none;
}

graphic {
    position:relative;
    border:none;
    max-width:100%;
}

graphic:after(10) {
    position:absolute;
    top:0px;
    display: block;
}

graphic:focus-within:after(10) {
    /* width:24px;
    display:block;
    position:absolute;
    bottom:0px;
    text-align:right;
    right:-24px; */
    content: oxy_button(transparent, true, action, oxy_action(
          name, 'Edit', 
          description, 'Edit', 
          icon, oxy_url('${currentFileURL}', 'img/tei_edit16.png'), 
          operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', 
          arg-setPseudoClassNames, '-oxy-edit'          
        ), showIcon, true);
    ;
    
    
}

graphic:-oxy-edit:after(10) {
    content: oxy_button(transparent, true, action, oxy_action(
          name, 'Done', 
          description, 'done', 
          icon, oxy_url('${currentFileURL}', 'img/tei_done16.png'), 
          operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', 
          arg-removePseudoClassNames, '-oxy-edit'          
        ), showIcon, true);
    ;
}

graphic:-oxy-edit:after(20) {
    display:block;
    content:
        oxy_label(
            text, " Width: ", 
            width, 5em, 
            color, inherit
        )
        oxy_combobox(
               edit, '@width', 
               editable, true,
               width, 30em
            )
    ;
    text-decoration:none;
    color:white;
    background-color:#1A669D;
}

graphic:-oxy-edit:after(21) {
    display:block;
    content:
        oxy_label(
            text, " Height: ", 
            width, 5em, 
            color, inherit
        )
        oxy_combobox(
               edit, '@height', 
               editable, true,
               width, 30em
            )
    ;
    text-decoration:none;
    color:white;
    background-color:#1A669D;
}

graphic:-oxy-edit:after(22) {
    display:block;
    content:
        oxy_label(
            text, " URL: ", 
            width, 5em, 
            color, inherit
        )
        oxy_combobox(
               edit, '@url', 
               editable, true,
               width, 30em
            )
    ;
    text-decoration:none;
    color:white;
    background-color:#1A669D;
}