@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --sub-blue: #003967;
}


/*-------------------------------------{ CORRESP: @corresp }-------------------------------------*/
*[corresp]:not([type*="editorial"]):focus-within:after {
    -oxy-append-content: "\2258";
    -oxy-link:attr(corresp);
    color: lightgray;
    background-color: var(--sub-blue);
    margin-left: 10px;
    padding: 0 3px;
}


/* *[corresp]:not([type*="editorial"]) {
    -oxy-link: attr(corresp);
    -oxy-link-activation-trigger: modifier-click;
} */

/* *[corresp]:focus-within{
    position:relative;
}

*[corresp]:focus-within:after {
    position: absolute;
    display: block;
    text-align: right;
    bottom: 1px;
    width: 20%;
} */


/*-------------------------------------{ Diskontinuierliche Textpassagen: @next, @prev }-------------------------------------*/
*[next]::after(200),
*[prev]::before(200) {
    color: lightgray;
    background-color: var(--sub-blue);
    padding: 0 3px;
    font-weight: 600;
}

*[next]:focus-within::after(200) {
    /* -oxy-append-content: " " oxy_xpath("substring(element-with-id( substring-after(@next, '#') )/text(), 1, 6) || '...'"); */
    -oxy-append-content: "\2192";
    -oxy-link:attr(next);
    margin-left: 10px;
}

*[prev]:focus-within::before(200) {
    /* -oxy-append-content: "..." oxy_xpath("for $elem in element-with-id( substring-after(@prev, '#') )/text() return substring($elem, string-length($elem) - 6 ) || ' '"); */
    -oxy-append-content: "\2190";
    -oxy-link:attr(prev);
    margin-right: 10px;
}


/*-------------------------------------{ REF }-------------------------------------*/
ref {
    color: var(--sub-blue);
}

ref[target] {
    -oxy-display-tags: none;
}

*[target]:not([type*="editorial"]) {
    -oxy-link:attr(target);
    -oxy-link-activation-trigger: modifier-click;
}

*[target]:not([type*="editorial"]):hover {
    text-decoration-style: solid;
    text-decoration-line: underline;
}

ref[target*="http://"]:before,
ref[target*="https://"]:before {
    content: url(../../img/globe.svg);
    position: relative;
    width:15px;
    top: 3px;
    left: 1px;
}