@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --sub-blue: #003967;
}


/*-------------------------------------{ Notes: Allgemein }-------------------------------------*/
note[n] {
    padding-top: unset;
    margin: unset;
}

text note:not([place*="margin"]):before {
    position: relative;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background: rgba(230, 230, 230, 0.548);
    margin-right: .5em;
}

text note:not([place*="margin"]):before {
    content: oxy_xpath("count(preceding::*:note[not(contains(@place, 'margin'))][not(@type='editorial')])+1");
    color: gray;
}

text note[n]:not([place*="margin"]):before {
    content: attr(n);
    color: var(--sub-blue);
    vertical-align: unset;
}

text note:not([place*="margin"]):before,
text note[n]:not([place*="margin"]):before {
    -oxy-append-content: ":";
}

text note:not([place*="margin"]) {
    display: block;
    padding: .6em 1em;
    margin-bottom: 1em;
    border-left: 3px solid var(--sub-blue);
    background-color: rgb(238, 238, 238);
    font-size: 1em; 
}

/* Hier müssen alle notes in Apparaten explizit ausgeschlossen werden! */
text app > note {
    display: none !important;
}

/*-------------------------------------{ Notes[type="editorial"]: Stellenkommentare }-------------------------------------*/
/* Notes: Color Code*/

/*--- FOOTNOTES ---*/
/* text note:not([place="margin"])::before,
text note[place*="bottom"]::before {
    color: var(--foot-note-color);
}

text note:-show-comment, 
text note[place*="bottom"]:-show-comment{
    background-color: var(--foot-note-background);
    border-left: 3px solid var(--foot-note-color);
} */

/*--- ENDNOTES ---*/
/* text note[place="end"]::before {
    color: var(--end-note-color);
}

text note[place="end"]:-show-comment {
    background-color: var(--end-note-background);
    border-left: 3px solid var(--end-note-color);
} */

text note[type="editorial"]::before {
    color: var(--foot-note-color);
}

/*++++++++++++++++++++++++++++++++++ { Stellenkommentare: Inline  } ++++++++++++++++++++++++++++++++++*/
/* ANMERKUNGSZEICHEN */
text note[type="editorial"],
text note[type="editorial"]::before {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

text note[type="editorial"]::before {
    position: relative;
    top: -.5em;
    margin-right: 0;
    padding-top:-.1em;
    font-weight: 600;
    background: rgba(230, 230, 230, 0.548);
}

text note[type="editorial"]::before {
    content: oxy_xpath("count(preceding::*[contains(@type, 'editorial')])+1");
    
}

text note[type="editorial"] {
    display: inline;
    border-left: 0px solid black !important;
    margin: 0;
    padding: 0;
    visibility: -oxy-collapse-text;
    -oxy-display-tags: none;
    text-align: left;
    font-weight: 100;   
}

text note[type="editorial"] * {
    display: none;
}

/* Display-by-Pseudoclass "-show-comment" */
text note[type="editorial"]::before {
    visibility: visible;
    content: oxy_button( action,
        oxy_action(
          name, oxy_xpath("count(preceding::*[contains(@type, 'editorial')])+1"), 
          description, 'Toggle Note',
          operation, 'TogglePseudoClassOperation', 
          arg-elementLocation, '.',
          arg-name, '-show-comment'
          
        )
        color, inherit,
        transparent, true,
        fontInherit, true
    );
}

text note:-show-comment::before {
    display: inline;
    margin-right: 5px;
    padding-top: unset;
    margin-right: 1em;
}

text note:-show-comment {
    visibility: visible !important;
    display: block;
    border-color: #002744;
    border-left: 3px solid !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
    margin-left: 0;
}

text note:-show-comment * {
    display: unset;
}

text note:-show-comment p,
text note:-show-comment ab {
    display: block !important;
}


/*++++++++++++++++++++++++++++++++++ { Stellenkommentare: Standoff  } ++++++++++++++++++++++++++++++++++*/
/* --------------[ Sprungmarker ]----------------*/
ref[type="editorial-note"]{
    -oxy-display-tags: none;
}

ref[type="editorial-note"]:before {
    content: "";
}

/* ref[type="editorial-note"][corresp]:after {
    content: url("../../img/arrow-square-out.svg");
    -oxy-link: attr(corresp);
    width: 14px;
    position: relative;
    left: 1px;
} */

ref[type="editorial-note"][corresp]:after(2) {
    font-weight: 600;
    font-family: var(--editors-font-family);
    color: var(--sub-blue);
    font-size: smaller;
    position: relative;
    font-style: normal;
    top: -.5em;
    left: 1px;
}

/* ref[type="editorial-note"][corresp]:after {
    -oxy-prepend-content: url("../../img/arrow-square-out.svg");
} */

/* ref[type="editorial-note"][corresp]::after(2) {
    content: oxy_xpath('count(preceding::ref[@type="editorial-note"])+1') ")";
    -oxy-link: attr(corresp);
} */

ref[type="editorial-note"][corresp]::after(2) {
    -oxy-link: attr(corresp);
}

/* ref[type="editorial-note"][corresp]:-computed-numbering:after(2), */
TEI:-computed-editorial-note-numbering ref[type="editorial-note"][corresp]::after(2) {
    content: oxy_xpath('count(preceding::ref[@type="editorial-note"])+1') ")";
}

ref[type="editorial-note"][corresp]::after(2),
/* ref[type="editorial-note"][corresp]:-computed-numbering:focus-within:after(2), */
TEI:-computed-editorial-note-numbering ref[type="editorial-note"][corresp]:focus-within:after(2) {
    content: oxy_xpath('substring(substring-after(@corresp, "#"), 1, 5)') ")";
}

ref[type="editorial-note"][corresp] {
    color: unset;
}

/* --------------[ Anmerkung ]----------------*/
standOff note[type="editorial"]:before(100),
standOff note[type="editorial"]:before(99) {
    display: none;
}

standOff note[type="editorial"][target]::before {
    position: relative;
    top: -5px;
    left: -5px;
    color: white;
    margin-right: .5em;
    background-color: var(--sub-blue);
    font-size: unset !important;
    font-weight: 600;
    padding: 0 .3em;
    display: inline-block;
}

standOff note[type="editorial"][target]::before {
    -oxy-link: attr(target);
    content: oxy_xpath('substring(@target, 1, 5)');
}

standOff note[type="editorial"][xml|id][target]::before {
    content: oxy_xpath('substring(@xml:id, 1, 5)');
}

standOff note[type="editorial"] {
    display: block;
    padding: .3em .6em;
    line-height: 1.4em;
    border-color: var(--sub-blue);
}


/*-------------------------------------{ Notes[place*="margin"]: Marginalien }-------------------------------------*/
/*
Marginalien abesetzen
Marginalien können kommentiert werden
*/
note {
    font-size: 14px !important;
}

note[place="margin"]::before {
    position: relative;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background: rgba(230, 230, 230, 0.548);
}

note[place="margin"]::before {
    content: "m" oxy_xpath("count(preceding::*:note[@place='margin'])+1");
}

note[place="margin"] {
    display: inline-block;
    visibility: -oxy-collapse-text;
    -oxy-display-tags: none;
    text-align: left;
    font-weight: 100;
    background: var(--marginalia-background);
    padding: 0 3px;
}

/* Display-by-Pseudoclass */
note[place="margin"]::before {
    visibility: visible;
    content: oxy_button( action,
        oxy_action(
          name, oxy_xpath("'m' || count(preceding::*:note[@place='margin'])+1"), 
          description, 'Toggle Note',
          operation, 'TogglePseudoClassOperation', 
          arg-elementLocation, '.',
          arg-name, 'show-me'
          
        )
        color, inherit,
        transparent, true,
        fontInherit, true
    );
}

note[place="margin"]:show-me::before {
    display: inline;
}

note[place="margin"]:show-me {
    visibility: visible !important;
}

note[place="margin"]:show-me * {
    display: unset !important;
}

note[place="margin"]:show-me p,
note[place="margin"]:show-me ab {
    display: block !important;
}