@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*-------------------------------------{ Quotes & Quotatins Marks }-------------------------------------*/

/*++++++++++++++++++++++++++++++++++ { Quotes/Quotation Marks: Layout } ++++++++++++++++++++++++++++++++++*/
/*
All Quotes and Quotationmarks shall be displayed inline by default. 
Blockpresentation is done using @rend="block" or @rendition="#block".
*/
q, 
quote {
    display: inline;
    margin: 0;
    padding: 0;
}

quote[rendition~="#block"],
quote[rend~="block"] {
    display: block;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: var(--para-margin-bottom) !important;
    padding: 0.5em 0em 0.5em 1.5em;
}

quote[rendition~="#block"],
quote[rend~="block"] {
    border-left: 3px solid rgb(160, 160, 160);
}

quote[rendition~="#block"],
quote[rend~="block"] {
    font-size: smaller;
    letter-spacing: .05em;
}

/*++++++++++++++++++++++++++++++++++ { Quote & Quotation Markers: Rendition } ++++++++++++++++++++++++++++++++++*/
/*
All tei:q and those tei:quote Elementes, that have a explicit quotation renditions marked shall be not marked by tags.

Quotations can graphically be highlighted by question marks whereas Quotation Marks by Design are highlightings.
By Default the graphical representation of quotations marks are encoded using `@rend` with tei:q or tei:quote.
Following values are accepted: 'qm-double', 'qm-single', 'qm-double-guillemets', 'qm-single-guillemets', 
'qm-double-guillemets-reverse', 'qm-single-guillemets-reverse','qm-slash'
*/

q,
quote[rend] {
    -oxy-display-tags: none;
}

quote[rend="inline"] {
    -oxy-display-tags: default;
}

q:before,
q:after,
quote[rend*="qm-"]:before,
quote[rend*="qm-"]:after {
    color: var(--sub-blue);
    font-size: 1em;
}


/* DEFAUL: Double Quotation Markers*/
q::before,
*[rend~="qm-double"]::before {
    content: "„";
}

q::after,
*[rend~="qm-double"]::after {
    content: "“";
}

/* SINGLE Quotation Markers*/
*[rend~="qm-single"]::before {
    content: "‚";
}

*[rend~="qm-single"]::after {
    content: "‘";
}

/* FANCY Quotation Markers*/
*[rend~="qm-slash"]::before {
    content: "/";
}

*[rend~="qm-slash"]::after {
    content: "\\";
}

/* FRENCH German interpreation */
/* FRENCH Double Quotation Markers*/
*[rend~="qm-double-guillemets-reverse"]::before {
    content: "»";
}

*[rend~="qm-double-guillemets-reverse"]::after {
    content: "«";
}

/* FRENCH Single Quotation Markers*/
*[rend~="qm-single-guillemets-reverse"]::before {
    content: "›";
}

*[rend~="qm-single-guillemets-reverse"]::after {
    content: "‹";
}

/* FRENCH Original */
/* FRENCH Double Quotation Markers*/
q[xml|lang~=fr]::before,
quote[xml|lang~=fr]::before,
*[xml|lang=fr][rend~="qm-double"]::before,
*[rend~="qm-double-guillemets"]::before {
    content: "«";
}

q[xml|lang=fr]::after,
quote[xml|lang=fr]::after,
*[xml|lang=fr][rend~="qm-double"]::after,
*[rend~="qm-double-guillemets"]::after {
    content: "»";
}

/* FRENCH Single Quotation Markers*/
*[xml|lang=fr][rend~="qm-single"]::before,
*[rend~="qm-single-guillemets"]::before {
    content: "‹";
}

*[xml|lang=fr][rend~="qm-single"]::after,
*[rend~="qm-single-guillemets"]::after {
    content: "›";
}


/*-------------------------------------{ Citations aka. Cited Quoatations }-------------------------------------*/

/*++++++++++++++++++++++++++++++++++ { Citation Layout } ++++++++++++++++++++++++++++++++++*/
/*
Citations Blocks should react to the design and types of quotes:
- By default all cit are inline elements.
- If the quote is inline ...
    - All bibl get surounded by "()"
- If the quote of a cit is block level the cit is block level as well
    - it is separated from the text with a 3px solid border left
    - All bibl in cit are aligned right to the quote
        - "()" of bibl are not displayed if in block level mode
*/

cit {
    font-size: 14px !important;
}

cit:has(quote),
cit:has(bibl) {
    -oxy-display-tags: none;
}

cit * {
    display: inline !important;
}

cit:has(quote[rend~="block"]),
cit:has(quote[rendition~="#block"]) {
    display: block;
    margin-bottom: var(--para-margin-bottom);
    border-left: 3px solid var(--sub-blue);
}

cit:has(quote:not(rend)) {
    display: inline;
    margin-bottom: 0;
    border-left: 0px;
}

cit > quote[rendition~="#block"],
cit > quote[rend~="block"] {
    margin: 0;
    margin-bottom: 0em !important;
    border-left: 0px solid lightgray;
}

cit > quote[rend~="block"] + bibl,
cit > quote[rendition~="#block"] + bibl {
    display: block !important;
    text-align: right;
    position: relative;
}

cit > quote[rend~="block"] + bibl:before(5),
cit > quote[rend~="block"] + bibl:after(5),
cit > quote[rendition~="#block"] + bibl:before(5),
cit > quote[rendition~="#block"] + bibl:after(5) {
    display: none;
}

cit > quote + bibl {
    margin-left: 5px;
}

cit bibl:before(5) {
    content: "(";
}

cit bibl:after(5) {
    content: ")";
}


/*++++++++++++++++++++++++++++++++++ { Citation: Front } ++++++++++++++++++++++++++++++++++*/
/* front cit {
    font-size: 0.8em;
} */

/*-------------------------------------{ BIBLE CITATIONS & REFERENCES }-------------------------------------*/

/*-------------------------------------{ BIBLE CITATIONS in Source Text}-------------------------------------*/
cit:has(bibl[type="bible"]) > quote {
    display: inline;
    font-family: var(--editors-font-family);
    -oxy-display-tags: none;
}

bibl[type="bible"]:before {
    content: url(../../img/hands-praying.svg);
    position: relative;
    width:15px;
    top: 3px;
    left: 1px;
}

bibl[type="bible"] > citedRange[n],
bibl[type="bible"] > citedRange[from],
bibl[type="bible"] > citedRange[to] {
    -oxy-display-tags: none;
}