@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";


/*-----------------------------{ Hidden Magic: Render every @style }-----------------------------*/
/* *[style] {
    -oxy-style: attr(style);
} */


/*-----------------------------{ Highlightings }-----------------------------*/
hi {
    -oxy-display-tags: none;
}

hi[rend],
hi[rendition] {
    background-color: unset !important;
}


/*-----------------------------{ @rendition CSS Definitions}-----------------------------*/
/* render all @rendition values that are actually css */
*[rendition] {
    -oxy-style: oxy_xpath("string-join(for $elem in tokenize(@rendition, ' ') return element-with-id( substring-after($elem, '#') )[@scheme='css']/text(), ';')");
}


/*-----------------------------{ @rend predefined Styletypes}-----------------------------*/
*[rend~="allcaps"] {
    background-color: unset !important;
    text-transform: uppercase;
}

*[rend~="blackletter"] {
    background-color: unset !important;
    font-family: fantasy;
}

*[rend~="bold"] {
    background-color: unset !important;
    font-weight: bold;
}

*[rend~="bottombraced"] {
    background-color: unset !important;
    padding-bottom: 2pt; 
    border-bottom: dashed gray 2pt;
}

*[rend~="block"] {
    background-color: unset !important;
    display:block !important;
    text-indent: 0;
}

*[rend~="boxed"] {
    background-color: unset !important;
    padding: 2pt; 
    border: solid black 1pt;
}

*[rend~="center"] {
    background-color: unset !important;
    display: block !important; 
    text-align: center !important;
}



*[rend*="color"]{
    color: oxy_xpath("translate(replace(@rend, 'color\((.+?)\)', '$1'), '()', '')") !important;
}

*[rend~="cursive"] {
    background-color: unset !important;
    font-family: cursive;
}

*[rend~="doublestrikethrough"] {
    background-color: unset !important;
    text-decoration: line-through; 
    text-decoration-style: double !important;
}

*[rend~="doubleunderline"] {
    background-color: unset !important;
    text-decoration-line: underline;
    text-decoration-style: double;
}

*[rend~="dropcap"] {
    background-color: unset !important;
    font-size : 6em; 
    font-family: cursive; 
    font-weight : bold;
    vertical-align: top; 
    height: 1em; 
    line-height: 1em; 
    float : left; 
    width : 1em; 
    color :#c00; margin: 0em; padding: 0px;
}

*[rend~="float"] {
    background-color: unset !important;
    float:right; 
    display: block; 
    font-size: smaller; 
    clear: right;
    padding: 4pt; 
    width: 15%; 
}

*[rend~="inline"] {
    background-color: unset !important;
    display:inline;
}

*[rend~="italic"] {
    background-color: unset !important;
    font-style: italic !important;
}

*[rend~="justify"] {
    background-color: unset !important;
    text-align: justify;
}

*[rend~="large"] {
    background-color: unset !important;
    font-size: large;
}

*[rend~="larger"] {
    background-color: unset !important;
    font-size: larger;
}

*[rend~="left"] {
    background-color: unset !important;
    text-align: left;
}

*[rend~="leftbraced"] {
    background-color: unset !important;
    padding-left: 2pt; 
    border-left: dotted gray 2pt; 
}

*[rend~="letterspace"] {
    background-color: unset !important;
    letter-spacing: 0.5em;
}

*[rend*="list-style-type"]{
    list-style-type: oxy_xpath('translate(substring-after(@rend, "list-style-type("), ")", "")') ;
}

*[rend~="literal"] {
    background-color: unset !important;
    font-family:monospace; 
    white-space:pre;
}

*[rend~="margin-bottom"] {
    background-color: unset !important;
    margin-bottom: 1.8em !important;
}

*[rend~="margin-left"] {
    background-color: unset !important;
    margin-left: 1.8em !important;
}

*[rend~="margin-right"] {
    background-color: unset !important;
    margin-right: 1.8em !important;
}

*[rend~="margin-top"] {
    background-color: unset !important;
    margin-top: 1.8em !important;
}

*[rend~="normalstyle"] {
    background-color: unset !important;
    font-style:roman;
}

*[rend~="normalweight"] {
    background-color: unset !important;
    font-weight:normal;
}

*[rend~="right"] {
    background-color: unset !important;
    text-align: right;
}

*[rend~="rightbraced"] {
    background-color: unset !important;
    padding-right: 2pt; 
    border-right: dotted gray 2pt; 
}

*[rend~="rotateleft"] {
    background-color: unset !important;
    -webkit-transform: rotate(90deg); 
    transform:rotate(90deg);
}

*[rend~="rotateright"] {
    background-color: unset !important;
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}

*[rend~="rules"] {
    background-color: unset !important;
    border: 1px solid black; 
    padding: 2px;
    border-collapse:collapse;
    border-spacing:0;
}

*[rend~="smallcaps"] {
    background-color: unset !important;
    font-variant: small-caps;
}

*[rend~="small"] {
    background-color: unset !important;
    font-size: small;
}

*[rend~="smaller"] {
    background-color: unset !important;
    font-size: smaller;
}

*[rend~="strikethrough"] {
    background-color: unset !important;
    text-decoration: line-through;
}

*[rend~="subscript"] {
    background-color: unset !important;
    vertical-align: bottom; 
    font-size: smaller;
}

*[rend~="superscript"] {
    background-color: unset !important;
    vertical-align: super; 
    font-size: smaller;
}

*[rend~="topbraced"] {
    background-color: unset !important;
    padding-top: 2pt; 
    border-top: dotted gray 2pt; 
}

*[rend~="typewriter"] {
    background-color: unset !important;
    font-family:monospace;
}

*[rend~="underline"] {
    background-color: unset !important;
    text-decoration: underline;
}

*[rend~="wavyunderline"] {
    background-color: unset !important;
    text-decoration: underline; 
    text-decoration-style:wavy;
}



/*-------------------------------------{ Leer- und Weißräume }-------------------------------------*/
metamark,
space {
    -oxy-display-tags: none;
}

space {
    font-family: var(--editors-font-family);
    color: lightgray;
}

space[dim="horizontal"][dim]:focus-within:before(10),
space[dim="vertical"][dim]:before(10) {
    content: attr(dim) " ";
}

space[dim="horizontal"]:focus-within:before(9),
space[dim="vertical"]:before(9)  {
    content: "space";
}

space[dim="horizontal"][quantity]:focus-within:before(8),
space[dim="vertical"][quantity]:before(8) {
    content: " (" attr(quantity) ")";
}

space[dim="horizontal"][quantity][unit]:focus-within:before(8),
space[dim="vertical"][quantity][unit]:before(8) {
    content: " (" attr(quantity) " " attr(unit) ")";
}

space[dim="horizontal"]:focus-within:after(100){
    display: none;
}

/* Horizontaler Leerraum: Tab(s) */
space[dim="horizontal"]::after(100) {
    content: " ";
    width: 1cm;
}

space[dim="horizontal"][unit="cm"][quantity]::after(100),
space[dim="horizontal"][unit="mm"][quantity]::after(100),
space[dim="horizontal"][unit="in"][quantity]::after(100) {
    width: oxy_concat( oxy_xpath("@quantity"), oxy_xpath("@unit") );
}

/* Vertikaler Leerraum: Zeile(n) */
space[dim="vertical"]::after(100),
space[dim="vertical"][unit="lines"]::after(100){
    content: "\A";
}

space[dim="vertical"][unit="cm"][quantity]::after(100),
space[dim="vertical"][unit="mm"][quantity]::after(100),
space[dim="vertical"][unit="in"][quantity]::after(100) {
    display: block !important;
    margin-bottom: oxy_concat( oxy_xpath("@quantity"), oxy_xpath("@unit") );
}

space[dim="vertical"][unit="lines"][quantity]::after(100){
    content: oxy_xpath("for $i in 1 to @quantity return '\A'");
}