@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

/*#########################################################################################

CSS File to style standOff Markup!

#########################################################################################*/

/*-------------------------------------{ STANDOFF Annotation }-------------------------------------*/
anchor[type="standoff"] {
    -oxy-display-tags: none;
}

*[sameAs]::after(3000) {
    font-weight: 600;
    font-family: var(--editors-font-family);
    color: var(--sub-blue);
    font-size: smaller;
    position: relative;
    font-style: italic;
    top: -.5em;
    left: 1px;
}

*[type="standoff"][sameAs]:after(3000),
*[sameAs]:after(3000) {
    -oxy-link:attr(sameAs);
    /* content: oxy_xpath("count(preceding::*:anchor[@type='standoff'])+1");
    content: oxy_xpath("substring(substring-after(@sameAs, '#'), 3, 3)"); */
    /* content: oxy_xpath("for $id in @sameAs return if (//*:standOff//*[@xml:id = substring-after($id, '#')]) then (substring(substring-after(@sameAs, '#'), 1, 5)) else ()"); */
   content: oxy_xpath("substring(substring-after(@sameAs, '#'), 1, 5)");
}   


/*++++++++++{ Standoff Container}++++++++++*/
standOff {
    display: block;
}

standOff:not(:last-child) {
    border-bottom: 1px dotted var(--sub-blue);
}


/*
    text-align: right;
    display: block;
    content: oxy_local-name();
    font-size: 2.5em;
    color: lightgray;
    margin-bottom: 1em;
    font-family: var(--editors-font-family);
*/

standOff:before(10) {
    text-align: right;
    display: block;
    content: oxy_local-name();
    font-size: 2.5em;
    color: lightgray;
    margin-bottom: 1em;
    font-family: var(--editors-font-family);
}

/* standOff:before(10) {
    content: "Standoff Area #" oxy_xpath('count(preceding::*:standOff)+1');
} */

standOff[n]:before(9) {
    display: block;
    content: attr(n);
    font-size: 2.5em;
    font-weight: 200;
    border-bottom: 0px solid var(--sub-blue);
    color:var(--sub-blue);
    margin-bottom: 1em;
}

/*++++++++++{ Standoff Annotations}++++++++++*/

standOff > * {
    display: block;
    border-left: 3px solid var(--aqua-blue);
    padding: 0 .5em;
    margin-bottom: 1em;
}

standOff > *:hover {
    text-decoration-style: none !important;
    text-decoration-line: none !important;
}

standOff > *:before(100) {
    content: oxy_local-name() " ";
    font-size: larger;
}

standOff *[xml|id]:focus-within:before(99) {
    content: "" oxy_xpath('data(@xml:id)') "";
    margin-right: 1em;
}

standOff > *[target]::before {
    -oxy-link: attr(target);
    /* content: oxy_xpath("substring(@xml:id, 1, 5)"); */
    content: oxy_label(text, "target: ", styles, "font-style: italic;color: black;") attr(target);
    /* content: url(../img/arrow-square-out.svg); */
    margin-right: 1em;
    display: block;
    color: var(--sub-blue);
}

standOff > *::before(99),
standOff > *::before {
    font-family: var(--editors-font-family);
    font-size: smaller;
}

standOff > *::before {
    background-color: rgb(226, 226, 226);
    padding: 3px 5px;
    margin-bottom: .5em;
}