@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --title: 2.8em;
    --sub-title: 2em;
    --head-u1: 2.3em;
    --head-u2: 2em;
    --head-u3: 1.7em;
    --head-u4: 1.3em;
    --head-u5: 1em;
    --head-u6: .7em;
}

/*-------------------------------------{ TEI-HEADER }------------------------------------- */
TEI > teiHeader > *,
TEI > teiHeader > fileDesc > *:not(:first-child) {
    padding: 1em 2.5em 1em 2.5em !important;
}

TEI > teiHeader,
TEI > teiHeader > fileDesc {
    padding: 0 !important;
}


teiHeader {
    margin-bottom: 0;
    border: 0px solid grey;
    border-bottom: 10px solid var(--sub-blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*-------------------------------------{ File Description }------------------------------------- */

fileDesc {
    background-color: var(--sub-blue-background);
}

fileDesc > *:not(:first-child) {
    border-bottom: 1px dotted var(--sub-blue);
}

/*-------------------------------------{ File Description: I) Title Statement }------------------------------------- */
teiHeader titleStmt {
    font-family: var(--sub-font-family);
}

teiHeader titleStmt title,
teiHeader titleStmt {
    text-align: unset;
    -oxy-display-tags: none;
}

teiHeader > fileDesc > titleStmt{
    background-color: var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
    color: white;
    padding: 2.5em 2.5em 1em 2.5em !important;
}

titleStmt > title,
titleStmt > title[type="main"] {
    display: block;
    font-weight: 200;
    font-size: var(--title);
    margin-bottom: 1.5em !important;
}

titleStmt > title[type="sub"] {
    font-weight: 100;
    font-size: var(--sub-title);
    margin-top: -1.5em !important;
}

titleStmt title {
    -oxy-placeholder-content:"[Titel]";
}

titleStmt title[type="main"] {
    -oxy-placeholder-content:"[Haupttitel]";
}

titleStmt title[type="sub"] {
    -oxy-placeholder-content:"[Untertitel]";
}

titleStmt > * {
    margin: 0 !important;
    font-weight: 100;
}


/*-------------------------------------{ Responsibility Statements }------------------------------------- */

titleStmt > editor::after {
    content: " (Editor)";
    font-style: italic;
}

titleStmt > editor {
    -oxy-placeholder-content:"[Herausgebende Person]";
    -oxy-show-placeholder: "always";
}

titleStmt > author {
    -oxy-placeholder-content:"[Verfassende Person]";
    -oxy-show-placeholder: "always";
}

titleStmt > funder::after {
    content: " (Funder)";
    font-style: italic;
}

titleStmt > funder {
    -oxy-placeholder-content:"[Fördernde Person/Organisation]";
    -oxy-show-placeholder: "always";
}

titleStmt > respStmt > *:first-child {
    margin-right: 5px;
}

titleStmt > respStmt > resp {
    font-style: italic;
}

titleStmt > respStmt > resp::before {
    content: "(";
}

titleStmt > respStmt > resp::after {
    content: ")";
}

titleStmt name,
titleStmt respStmt resp {
    -oxy-display-tags: none;
    color: white;
}

/*-------------------------------------{ File Description: II) Veröffentlichungsvermerk }------------------------------------- */



/*-------------------------------------{ File Description: III) Quellenbeschreibung }------------------------------------- */

teiHeader > fileDesc > sourceDesc {
    display: block;
    border: 0px solid grey;
}

/*-------------------------------------{ File Description: IV) Veröffentlichungsvermerk }------------------------------------- */
teiHeader > fileDesc publicationStmt,
teiHeader > fileDesc publicationStmt:before {
    display: block;
}

teiHeader > fileDesc publicationStmt:before {
    content: "Publication Statement";
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    margin-bottom: .5em;
}

publicationStmt > *:before {
    content: oxy_local-name() ": ";
} 

publicationStmt > publisher:before {
    content: "Published by ";
} 

publicationStmt > availability:before {
    content: "Available under ";
} 

publicationStmt > pubPlace:before {
    content: "Place of Publication: ";
} 

publicationStmt > date[type="publication"]:before {
    content: "Date of Publication: ";
} 

publicationStmt > publisher > name,
publicationStmt > pubPlace,
publicationStmt > date,
publicationStmt > availability > licence {
    -oxy-display-tags: none;
}

publicationStmt > publisher {
    -oxy-placeholder-content:"[Veröffentlichende Organisation]";
    -oxy-show-placeholder: "always";
}

publicationStmt > pubPlace {
    -oxy-placeholder-content:"[Erscheinungsort]";
    -oxy-show-placeholder: "always";
}

publicationStmt > idno {
    -oxy-placeholder-content:"[Erscheinungsnummer/ID]";
    -oxy-show-placeholder: "always";
}

publicationStmt > date {
    font-weight: 100;
    -oxy-placeholder-content:"[Erscheinungsdatum]";
    -oxy-show-placeholder: "always";
} 



/*-------------------------------------{ TEXTCRIT: WITNESSES }------------------------------------- */
teiHeader sourceDesc:before {
    content: "Source Description";
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    margin-bottom: .5em;
    margin-left: 0;
}

teiHeader sourceDesc listWit:before(10) {
    content: "Textzeugen";
    display: block;
    font-family: var(--sub-font-family);
    font-size: var(--head-u2);
    margin-bottom: .5em;
}

teiHeader sourceDesc listWit {
    display: block;
}

teiHeader witness {
    display: block;
    margin-left: 1em;
}


teiHeader witness::before {
    content: oxy_xpath("@xml:id || ': '");
    font-style: italic;
    color: var(--sub-blue);
}

/*-------------------------------------{ Encoding Description }------------------------------------- */

encodingDesc:before {
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    content: "Encoding Description";
    margin-bottom: .5em;
}

encodingDesc rendition:before(10) {
    content: "Rendition";
    display: block;
    font-size: 1.3em;
    border-left: 0px solid black;
}

encodingDesc rendition[xml|id]:before(10) {
    content: "Rendition '" attr(xml|id) "'";
}

encodingDesc rendition[xml|id]:focus-within:before(10) {
    content: "Rendition " oxy_textfield( edit, "@xml:id",
        columns, 20,
        fontInherit, false
    );
}

encodingDesc rendition {
    display: block;
    font-size: smaller;
    margin-bottom: 1em;
    margin-left: 1em;
}

encodingDesc rendition[scheme="css"]:after(9) {
    content: "\A";
}

encodingDesc tagsDecl:before(5) {
    content: oxy_button( action, oxy_action(
        name, 'show preview', 
        description, 'Show a preview rendering of all CSS renditions Definitions', 
        operation, 'TogglePseudoClassOperation',
        arg-elementLocation, '.', 
        arg-name, '-sample-me'
    ))
}

encodingDesc tagsDecl:-sample-me rendition[scheme="css"]:after(10) {
    display: inline;
    content: "Sample";
    /* -oxy-style: oxy_xpath("for $elem in element-with-id( substring-after(@rendition, '#') )[@scheme='css'] return $elem/text()"); */
    -oxy-style: oxy_xpath("./text()");
}

/*-------------------------------------{ Profile Description }------------------------------------- */

profileDesc:before {
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    content: "Profile Description";
    margin-bottom: .5em;
}

profileDesc abstract {
    display: block;
    padding: .5em 1em;
    border-left: 3px solid var(--sub-blue);
}
/*-------------------------------------{ Revision Description }------------------------------------- */

revisionDesc:before(2) {
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    content: "Revision Description";
}

revisionDesc:before {
    display: block;
    content: oxy_button( 
        actionID, 'change',
        color, inherit,
        transparent, false,
        fontInherit, true
    );
    /* background-color: var(--sub-blue); */
    margin-bottom: .8em;
    /* color: white; */
}

revisionDesc change[when]:before {
    content: attr(when)": ";
    font-weight: 600;
}

revisionDesc change {
    /* margin-left: 2em;
    text-indent: -2em; */
    margin-left: 0;
}
/*-------------------------------------{ Xeno Data }------------------------------------- */

xenoData:before {
    display: block;
    font-size: var(--head-u1);
    font-family: var(--sub-font-family);
    content: "Metadata beyond TEI (xenoData)";
    margin-bottom: .5em;
}