@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --line-height: 1.4em;
    --para-margin-bottom: 1.1em;
    --para-indent: 1.1em;
}

/*-----------------------------{ TYPOGRAPHY }-----------------------------*/

/* front {
    font-size: 1em;
} */

text {
    letter-spacing: 0;
    line-height: var(--line-height);
}

/*-----------------------------{ Headings }------------------------------------- */

/*"Ü0": Bereichsüberschriften */
front > head,
body > head,
back > head {
    font-size: 2.5em;
    font-weight: 200;
    border-bottom: 0px solid var(--sub-blue);
    color:var(--sub-blue);
    margin-bottom: 1em;
}


/* Borders Ü1, Ü2*/
div > head,
div > div > head {
    border-bottom: 1px solid var(--sub-blue);
}

/* Borders Ü3, Ü4*/
div > div > div > head,
div > div > div > div > head {
    border-bottom: 1px dotted var(--sub-blue) !important;
}

/* Borders Ü5, Ü6*/
div > div > div > div > div > head,
div > div > div > div > div > div > head {
    border-bottom: 0px solid var(--sub-blue)!important;
}

/* Typography Ü1*/
div > head {
    font-size: 2.3em !important;
    font-weight: 200 !important;
}

/* Typography Ü2*/
div > div > head {
    font-size: 1.8em !important;
    font-style: italic;
}

/* Typography Ü3*/
div > div > div > head {
    font-size: 1.5em !important;
    margin-bottom: unset !important;
    padding-bottom: unset !important;
    font-style: normal;
}

/* Typography Ü4*/
div > div > div > div > head {
    font-size: 1.3em !important;
    font-style: italic;
}

/* Typography Ü5*/
div > div > div > div > div > head {
    font-size: 1em !important;
    font-style: normal;
    font-weight: 600 !important;}

/* Typography Ü6*/
div > div > div > div > div > div > head {
    font-size: 1em !important;
    font-weight: 200 !important;
}


/* Display Mode: Hide Numbering of headings*/
head:hide-me::before {
    display: none;
}


/*-------------------------------------{ Absätze }-------------------------------------*/
p {
    margin-bottom: var(--para-margin-bottom) !important;
}

/* Absatz mit Einzug */
p[rend~="indent"]::before(100),
p[rendition~="#indent"]::before(100),
div > p::before(100) {
    content: " ";
    padding-right: var(--para-indent);
}

p + p::before(100) {
    content: " ";
    padding-right: var(--para-indent);
}

/* Stumpfer Absatz: Ausnahmen von der Regel */
head + p::before(100),
metamark[rend="-sub-line"] + p::before(100),
p[rend~="no-indent"]::before(100),
p[rend~="left"]::before(100),
p[rend~="center"]::before(100),
p[rend~="right"]::before(100),
p[rendition~="#no-indent"]::before(100),
opener ~ p::before(100),
list + p::before(100),
cit + p::before(100),
quote[rend~="block"] + p::before(100) {
    display: none;
}



/*-------------------------------------{ Umbrüche }-------------------------------------*/

/*-------------------------------------{ Umbrüche: Spaltenumbruch / Column Breaks}-------------------------------------*/
cb[break="no"]:before(100) {
    content: "-";
    color: var(--sub-blue);
}

cb {
    -oxy-display-tags: none;
    color: darkgray
}

cb:before(90) {
    content: "\A";
}

cb:before {
    content: "·cb·";
    font-family: var(--editors-font-family);
}

cb[n]:before(10) {
    text-align: center;
    position: relative;
    left: 30px;
    top: -5px;
    content: attr(n);
    margin-left: -30px;
    width: 30px;
    font-family: var(--editors-font-family);
}

cb[n]:before {
    content: "cb";
    width: 30px;
    text-align: center;
    position: relative;
    top: 5px;
    font-family: var(--editors-font-family);
}


/*-------------------------------------{ Umbrüche: Zeilenumbrüche / Line Breaks }------------------------------------- */
/* lb {
    display:none !important;
} */

lb[break="no"]::before(100) {
    color: var(--sub-blue);
}

lb[break="no"]::before(100) {
    /* content:"-"; */
    content:"\002D";
}

lb::before(10) {
    content: "\A ";
    color: lightgray;
}

lb::before(5) {
    color: lightgray;
    position: relative;
    left: -130px;
    width: 15%;
    margin-right: -15%;
    text-align: right;
}

lb[n]:nth-of-type(4n)::before(5) {
    content: attr(n);
}

lb:-calculated-numbering:nth-of-type(4n)::before(5) {
    content: oxy_xpath("count(preceding::*:lb)+1");
}

/* lb::nth-of-type(4n)::before(5) {
    content: oxy_xpath("count(preceding::*:lb)+1");
} */

lb:focus-within::before(4) {
    content: oxy_textfield(
        edit, "@n",
        columns, 5,
        fontInherit, false
    ) " · ";
    color: lightgray;
}

lb {
    margin:0;
    padding:0;
    display: inline-block;
    -oxy-display-tags: none;
}


/*~~~~~~~~~[ Display Mode: HIDE ]~~~~~~~~~*/
lb:hide-me::before(100) {
    content: " ";
}

lb[break="no"]:hide-me,
lb:hide-me::before(5),
lb:hide-me::before(4),
lb:hide-me::before(10) {
    display: none;
}


/*~~~~~~~~~[ Display Mode: Inline  ]~~~~~~~~~*/
/* lb[break="no"]:display-inline::before(100) {
    color: var(--sub-blue)
} */

lb:display-inline::before(10),
lb:display-inline::before(4),
p > lb:display-inline:first-child::before(10),
ab > lb:display-inline:first-child::before(10),
div > lb:display-inline:first-child::before(10) {
    content: "" !important;
}

lb:display-inline:focus-within::before(5) {
    content: 
    "·"
    oxy_textfield(
        edit, "@n",
        columns, 5,
        fontInherit, false
    ) 
    "·" !important;
    color: lightgray;
}

lb[n]:display-inline::before(5) {
    content: "·" attr(n) "·" !important;
}

lb:-computed-numbering:display-inline::before(5) {
    content: "·" oxy_xpath("count(preceding::*:lb)+1") "·" !important;
}

lb:display-inline::before(5) {
    color: lightgray;
    position: relative;
    left: 0 !important;
    width: unset !important;
    margin-right: unset !important;
    text-align: unset !important;
}

lb:display-inline {
    margin:0;
    padding:0;
    display: inline-block;
    -oxy-display-tags: none;
}


/*-------------------------------------{ Umbrüche: Seitenumbrüche / Page Beginnings }-------------------------------------*/
pb {
    -oxy-display-tags: none;
    color: gray;
}

pb::before {
    content: "[" oxy_xpath("@n") "]";
}

pb[break="no"]::before(100) {
    content:"-";
    color: var(--sub-blue);
    font-family: unset !important;
    background-color: white;
}


/*~~~~~~~~~[ Display Mode: HIDE ]~~~~~~~~~~*/
pb:hide-me::before(3) {
    content: " ";
}

pb[break="no"]:hide-me,
pb:hide-me::before,
pb:hide-me::before(2) {
    display: none;
}


/*~~~~~~~~~[ Display Mode: Block ]~~~~~~~~~~*/
pb:display-block:focus-within::before,
pb:focus-within::before {
    content: oxy_textfield(
        edit, "@n",
        columns, 5,
        fontInherit, false
    );
    padding: 0 !important;

}

pb:display-block::before(2),
pb:display-block::before {
    background-color: rgba(211, 211, 211, 0.171);
    font-family: var(--editors-font-family);
    color: var(--sub-blue)
}

pb:display-block::before(2) {
    content: "Pagebeginning ";
    font-weight: 100;
}

pb:display-block::before {
    content: "" oxy_xpath("@n") "";
    font-weight: 600;
}

pb:display-block::before(5),
pb:display-block::after {
    content: "\A\A";
    line-height: -.5em;
}

/*-------------------------------------{ PUNCTUATION CHARACTERS }-------------------------------------*/
/* pc::before {
    content: "\00A0";
} */

pc[type="virgel"]{
    -oxy-display-tags: none;
    color: var(--sub-blue);
}


/*-------------------------------------{ TAGDOCS }-------------------------------------*/
gi:before,
gi:after {
    display: none;
}

gi {
    font-weight: 600;
    color: var(--sub-blue-bright);
    -oxy-display-tags: none;
}

att {
    color: var(--rdg-color);
    -oxy-display-tags: none;
}

val:before,
val:after {
    content:"\"";
}

val {
    background-color: unset !important;
    font-family:monospace;
    -oxy-display-tags: none;
    color: purple;
}