@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --editors-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --editor-font-size: 12px;
}

@font-face{
    font-family:"Junicode";
    src:url("../../fonts/Junicode-Fonts/Junicode.ttf");
}

/* @font-face{
    font-family:"Junicode-Bold";
    src:url("../../fonts/Junicode-Fonts/Junicode-Bold.ttf");
} */

body div {
    font-family: 'Junicode', sans-serif;
    font-size: 16pt;
}

/*-------------------------------------{ Headings }------------------------------------- */
/* Ü1 */
div > head {
    font-size: 1.5em !important;
}

div > div > head {
    font-size: 1.3em !important;
}

div > div > div > head {
    font-size: 1.3em !important;
}

div > div > div > div > head {
    font-size: 1em !important;
}

div > div > div > div > div > head {
    font-size: 1em !important;
}

text body div > head:before {
    display: none;
}
/*-------------------------------------{ Quotes, Citations }-------------------------------------*/
/*
Kurisiviert: Historischer Begriff = tei:foreign
Doppelte Anführungszeichen: Für Wörterbuchzitat = tei:quote mit Defualt umgedrehte Französische Zeichen
Einfache Anführungszeichen: Für Bedeutungsangabe = tei:quote
*/

note foreign {
    -oxy-display-tags: none;
}

/*+++ { Quote Markers } +++*/
q::before,
quote::before {
    content: "»" !important;
}

q::after,
quote::after {
    content: "«" !important;
}

/*-------------------------------------{ Bibliographische Angaben }-------------------------------------*/
/*
- 1) Kurisivierung für bibliographische Angaben > Titel der selbigen (Werktitel)
- 2) Bibliographische Angabe Autor > Kurztitel: Autorname UPPER und Kurztitel Normal
*/

cit[type="bible"] > bibl,
bibl[type="bible"] {
    text-transform: uppercase;
    padding-left: 5px;
    -oxy-display-tags: none;
}

bibl author ~ title {
    font-style: normal;
    -oxy-display-tags: none;
}


/*-------------------------------------{ Bibel Zitate & Referenzen}-------------------------------------*/
cit[type="bible"] > quote {
    display: inline;
    color: black;
    /* border-left: 3px solid purple; */
    /* background-color: rgba(187, 92, 187, 0.123); */
    /* padding-left: 0.3em;
    padding-right: 0.3em; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -oxy-display-tags: none;
}

cit[type="bible"] > quote::before,
cit[type="bible"] > quote::after {
    content: "";
}

cit[rend="inline"] > quote::before(10),
cit[type="bible"] > quote::before(10) {
    content: "";
}

bibl[type="bible"]{
    font-variant: unset !important;
    text-transform: unset !important;
}

note quote[type="bible"],
note bibl[type="bible"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-------------------------------------{ INDEX }-------------------------------------*/
index:focus-within:before {
    content: oxy_popup(
         edit, '@indexName',
         values, "Orte, Sachen, Personen",
        selectionMode, single) ":";  
}


/*-------------------------------------{ Line beginnings }-------------------------------------*/
lb[break="no"][rendition*="hyphen-eq"]::before(100) {
    content:"=";
}

/*-------------------------------------{ Paragraphs }-------------------------------------*/
/* Keine Abstände zwischen Absätzen */
p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}


/*-------------------------------------{ Page beginnings }-------------------------------------*/
/* v oder r am Ende hochstellen */
pb::before(3) {
    content: "[";
    
}

pb::before(2) {
    content: oxy_xpath("substring(@n, 1, string-length(@n)-1 )");
}

pb::before {
    content: oxy_xpath("substring(@n, string-length(@n) )"); 
}

pb[n$="v"]::before,
pb[n$="r"]::before {
    padding-top: -.3em; 
    font-size: 0.8em;
}

pb:focus-within::before(3),
pb:focus-within::before(2),
pb:focus-within::after {
    content: "";
}

pb::after {
    content: "]";
}

pb:display-block::before {
    padding-top: 0; 
    font-size: unset !important;
}

pb:display-block::before(3),
pb:display-block::after {
    content: "";
}

/*-------------------------------------{ Typography: Editor }-------------------------------------*/
app::before(100){
    font-size: var(--editor-font-size) !important;
    font-family: var(--editors-font-family) !important;
}

ref[type="editorial-note"]{
    font-size: 12pt !important;
    font-family: var(--editors-font-family) !important;
}