/*
 * Creates the ilusion of a page.
 */
@namespace oxy "http://www.oxygenxml.com/extensions/author";

/* THE official (?) SUB Font, but it looks somewhat messy */
@font-face{
  font-family:"unicode-optima";
  src:url("../fonts/Optima-Font/unicode.optima.ttf");
}
 
@media oxygen AND (min-width:25cm) {

    :root{      
      width: 23.59cm; 
    }

}