@import "${framework(TEI P5)}/xml/tei/css/tei_oxygen.css";

@import "${cfdu}/page.css";

@import "${cfdu}/core/-typography.css";
@import "${cfdu}/core/-renditions.css";

@import "${cfdu}/core/-links.css";

@import "${cfdu}/core/-notes.css";

@import "${cfdu}/core/-tei-header.css";

@import "${cfdu}/core/-figures.css";

@import "${cfdu}/core/-editorial-edits.css";

@import "${cfdu}/core/-quotations.css";

@import "${cfdu}/core/-drama.css";

@import "${cfdu}/core/-apparatus.css";

@import "${cfdu}/core/-facsimile.css";

@import "${cfdu}/core/-standoff.css";


@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";

:root {
    --aqua-blue: #3daee9;
    --dark-blue: #002744;
    
    --sub-blue: #003967;
    --sub-blue-light: #aeb7c6;
    --sub-blue-background: rgba(26, 55, 113, 0.080);
    --sub-blue-bright: rgb(0, 104, 202);
    --sub-blue-bright-background: rgba(0, 104, 202, 0.200);
    --sub-black: #333133;
    --sub-gray: #b3b5b8;

    --light-gray-background: rgb(226, 226, 226);

    --foot-note-color: rgb(0, 104, 202);
    --foot-note-background: rgba(190, 222, 233, 0.281);;
    
    --end-note-color: rgb(111, 0, 202);
    --end-note-background: rgba(161, 133, 184, 0.281);

    --marginalia-color: rgb(55, 119, 98);
    --marginalia-background: rgba(55, 119, 98, 0.205);

    --entity-color-place: rgb(255, 215, 169);
    --entity-color-person: rgba(190, 219, 255, 0.712);

    --critical-app-lem-color: rgb(1, 150, 100);
    --critical-app-rdg-color: rgb(255, 123, 0);

    --editors-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --sub-font-family: 'unicode-optima', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

TEI {
    padding: 0 !important;
    /* width: 75% !important; */
}

TEI > * {
    padding: 2.5em !important;
}

/*-------------------------------------{ TEI-HEADER }------------------------------------- */
/* see header.css */


/*-------------------------------------{ GENERAL Styles }------------------------------------- */
text:before(100) {
    display: block;
    /* content: "Text"; */
    content: " ";
    background: var(--sub-blue);
    color: white;
    padding-left: 2.5em; 
    padding-bottom: .5em;
    font-size: larger;
    font-family: var(--editors-font-family);
}
text {
    padding: 0 !important;
    border-bottom: 30px solid var(--sub-blue);
}

text > * {
    padding: 2em 2.5em !important;
}

sourceDoc > *:before(100),
text > *:before(100) {
    text-align: right;
    display: block;
    content: oxy_local-name();
    font-size: 2.5em;
    color: lightgray;
    margin-bottom: 1em;
    font-family: var(--editors-font-family);
}

text > *:not(:first-child) {
    border-top: 1px dotted var(--sub-blue);
}

front, body, back {
    margin-left: 0;
}

back {
    border-left: 0px solid black;
    border-right: 0px solid black;
}




/*########################################################################################*/
/*####################################{ FRONT Matter }####################################*/




/* front note {
    font-size: 0.5em;
} */

/*#######################################################################################*/
/*####################################{ BODY Matter }####################################*/



/*-------------------------------------{ Apparatus }-------------------------------------*/
/* 
for app, lem, rdg 
see core/-apparatus.css 
*/


/*-------------------------------------{ Bibliographische Angaben: Bibliographie }-------------------------------------*/

listBibl > bibl {
    display: block;
    text-indent: -3em;
    margin-left: 3em; 
}

listBibl > bibl:not(:last-child) {
    margin-bottom: 0.8em; 
}

listBibl > bibl author {
    font-variant: small-caps;
}


/*-------------------------------------{ BIBLE CITATIONS & REFERENCES }-------------------------------------*/
/*
for bibl[@type="bible"]
see core/-quotations.css
*/


/*-------------------------------------{ Bibliographische Angaben }-------------------------------------*/
bibl {
    -oxy-display-tags: none;
}

bibl title {
    font-style: italic;
    -oxy-display-tags: none;
}

bibl author {
    text-transform: uppercase;
    -oxy-display-tags: none;
}

bibl[corresp]:after(10) {
    -oxy-link:attr(corresp);
    content: url("../img/link.png");
    
}


/*-------------------------------------{ CITATION }-------------------------------------*/
/*
for cit, cit > quote, cit > bibl
see core/-quotations.css
*/


/*-------------------------------------{ CORRESP, @corresp }-------------------------------------*/
/*
for @corresp
see core/-link.css
*/


/*-------------------------------------{ Diskontinuierliche Textpassagen }-------------------------------------*/
/* 
for @next, @prev 
see core/-link.css 
*/


/*-------------------------------------{ Editorial Edits }-------------------------------------*/
/* 
for add, abbr, choice, corr, damage, del, expan, orig, seg, sic, supplied, surplus    
see core/-editorial-edits.css
*/


/*-------------------------------------{ Quotes & Quotatins Marks }-------------------------------------*/
/* 
for q, quote, cit
see core/-quotations.css 
*/


/*-------------------------------------{ Line Breaks }------------------------------------- */
/* 
for lb
see core/-typography.css 
*/


/*-------------------------------------{ Column Breaks }-------------------------------------*/
/* 
for cb
see core/-typography.css 
*/


/*-------------------------------------{ Leer- und Weißräume }-------------------------------------*/
/* 
for metamark, space
see core/-renditions.css
*/


/*-------------------------------------{ Notes }-------------------------------------*/
/* 
tags: notes editorial notes Stellenkommentar Marginalien standoff
for note, note[type="margin"], note[type="editorial"], ref[type="editorial-note"], standOff[type="editorial-notes"] 
see core/-notes.css
*/


/*-------------------------------------{ Page beginnings }-------------------------------------*/
/* 
for pb
see core/-typography.css
*/


/*-------------------------------------{ Lists }------------------------------------- */
list,
list > item {
    font-size: unset !important;
}

item > list {
    margin-bottom: 0;
    margin-top: 0;
}
list {
    list-style-position: outside;
}

list list {
    list-style-type: inherit;
}

list item[n] {
    list-style: none;
    margin-left: -8px;
}

list[rend="list-style-type(decimal)"] > item > list {
    list-style-type: upper-latin;
}

list[rend="list-style-type(decimal)"] > item > list > item > list {
    list-style-type: upper-roman;
}

list[rend="list-style-type(decimal)"] > item > list > item > list > item > list {
    list-style-type: lower-alpha;
}

list[rend="list-style-type(decimal)"] > item > list > item > list > item > list > item > list {
    list-style-type: lower-roman;
}

list[rend="list-style-type(decimal)"] > item > list > item > list > item > list > item > list > item > list{
    list-style-type: lower-greek;
}

/*-------------------------------------{ Named Entities and Referencing Strings }-------------------------------------*/
name,
rs {
    color: var(--sub-blue);
}

name[type],
rs[type] {
    -oxy-display-tags: none;
}

/* Entities linked to something using @ref */
rs[ref],
name[ref] {
    -oxy-link: attr(ref);
    -oxy-link-activation-trigger: modifier-click;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

rs[ref]:after,
name[ref]:after {
    text-decoration-line: none;
    text-decoration-style: none;
}

/*------------[ Entity Types ]------------*/
name[type],
rs[type] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

name[type]:after,
rs[type]:after {
    font-family: var(--editors-font-family);
}

rs[type]:after,
name[type]:after {
    position: relative;
    width:15px;
    top: 3px;
    left: 1px;
}

rs[type]:after,
name[type]:after {
    content: url(../img/identification-badge.svg);
}

rs[type="collection"]:after,
name[type="collection"]:after {
    content: url(../img/barcode.svg);
}

rs[type="geographic"]:after,
name[type="geographic"]:after {
    content: url(../img/globe.svg);
    
}

rs[type="group"]:after,
name[type="group"]:after {
    content: url(../img/users-three.svg);
    
}

rs[type="object"]:after,
name[type="object"]:after {
    content: url(../img/cube.svg);
}

rs[type="organisation"]:after,
name[type="organisation"]:after {
    content: url(../img/bank.svg);
}

rs[type="person"]:after,
name[type="person"]:after {
    content: url(../img/user-circle.svg);
    
}

rs[type="place"]:after,
name[type="place"]:after {
    content: url(../img/place.png);
}

rs[type="role"]:after,
name[type="role"]:after {
    content: url(../img/identification-badge.svg);
}

rs[type="temporal-entity"]:after,
name[type="temporal-entity"]:after {
    content: url(../img/clock.svg);
}


/*-------------------------------------{ Index }-------------------------------------*/
index,
index > term {
    -oxy-display-tags: none;
}

index::before(5) {
    content: "{";
}

index:focus-within:before {
    content: oxy_popup(
         edit, '@indexName',
         values, oxy_xpath('string-join(distinct-values(//*:index/@indexName), ", ")'),
        selectionMode, single) ":";  
}

index {
    color: var(--sub-blue);
}

index::after(5) {
    content: "}";
}

index > term:not(:first-child):before {
    content: "; ";
}

/* index > term {
    color: var(--sub-blue);
} */

/*-------------------------------------{ Sandbox }-------------------------------------*/
/* seg[test]{
    font-size: oxy_concat(oxy_xpath('@test'), "px") ;
} */

seg[rend*="font-size"]{
    font-size: oxy_concat(oxy_xpath('translate(substring-after(@rend, "("), ")", "")'), "px") ;
}



/*-------------------------------------{ DARK SIDE OF STANDOFF }-------------------------------------*/

*[sameAs]:after {
    /* content: oxy_xpath("if ( count(tokenize(@sameAs, ':' ) $gt; 2) ) then (for $prefix in tokenize(@sameAs, ':')[1] return //*:prefixDef[@ident=$sa]/@replacementPattern  ) else ()"); */
    content: oxy_xpath("for $prefix in tokenize(@sameAs, ':')[1] return //*:prefixDef[@ident=$prefix]/@replacementPattern");
} 